<a href="https://colab.research.google.com/github/Swwapnil638334/marshal/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
# 1.import library
import pandas as pd
import numpy as np

# Reshape y_train to have a shape of (49,)
y_train = np.squeeze(y_train)

In [3]:
# 2.import data 
iris = pd.read_csv('https://github.com/amberkakkar01/IRIS-Flower-classification/raw/master/iris.csv')

In [4]:
# display headphones_csv
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [5]:
# 3.define x and y
iris.columns

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [35]:
x = iris.drop(columns=['Species'])

In [7]:
y = iris[['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', ]]

In [8]:
x.shape

(150,)

In [9]:
y.shape

(150, 5)

In [49]:
# Reshape y_train to have a shape of (49,)
y_train = np.squeeze(y_train)

In [11]:
# 4. split data into train and test 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size = 0.33, random_state=1)

In [31]:
# model select
from sklearn.neighbors import KNeighborsClassifier

In [32]:
# Initialize a K-Nearest Neighbor classifier
knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
# model train 
knn.fit(x_train, y_train)

In [ ]:
# predict 
y_pred = knn.predict(x_test)

In [ ]:
# Calculate the accuracy score of the classifier
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)